.van-toast--default
  width 188px !important
  min-height 188px !important

  .van-icon
    font-size 50px !important

  .van-toast__text
    font-size 22px !important
    line-height 30px !important
    text-align center !important